<link rel="stylesheet" href="styles/style.css">


<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles/style.css">
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<title>Bataille navale</title>
</head>
<body>
<div id="menu">
    <div id="menu">
        <nav>
          <ul>
            <li><a href="home.html">Accueil</a></li>
            <li><a href="create_game.html">Créer une partie</a></li>
            <li><a href="join_game.html">Rejoindre une partie</a></li>
            
          </ul>
        </nav>
      </div>
      
</div>
<div class="centered-element">
<h1>Bataille Navale</h1>
<img src="images/logo.png">
</div>
<div id="buttons">
<button id="create-game-button" onclick="window.location.href='/create-game.html'">Créer une partie</button>
<button id="join-game-button" onclick="window.location.href='/join-game.html'">Rejoindre une partie</button>
<button id="player-game-button" onclick="window.location.href='/player-game.html'">choix de joueur</button>
</div>
</body>
</html>
